<!DOCTYPE html>
<html>
<head>
	<title>Page de connexion Minecraft</title>
	<!-- Inclure le fichier CSS de Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<!-- Ajouter un header avec le titre "마인크래프트" -->
	<header class="bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
			    <a class="navbar-brand m-8 text-white h1" href="/accueil">마인크래프트</a>
            </nav>
        </div>
	</header>
	<!-- Ajouter un formulaire de connexion -->
	<div class="container mt-5">
        <div class="container form-container mt-5">
		    <div class="row justify-content-center">
			    <div class="col-md-6 mb-5">
				    <h2 class="text-center">Connexion</h2>
				    <form action="/connexion" method="post">
					    <div class="form-group mt-5">
						    <label for="pseudo">Votre pseudo</label>
						    <input type="text" class="form-control" id="pseudo" name="pseudo" placeholder="Entrez votre pseudo" required>
					    </div>
					    <div class="form-group mt-4">
						    <label for="mdp">Mot de passe</label>
						<input type="password" class="form-control" id="mdp" name="mdp" placeholder="Entrez votre mot de passe" required>
					    </div>
						<div class="text-center">
							<p>{{  .Message  }}</p>
						</div>
					    <button type="submit" class="btn btn-primary btn-block mt-4">Se connecter</button>  
				    </form>
                    <div class="row mt-2    ">
                        <div class="col">
                          <a href="/accueil" class="btn btn-secondary btn-block w-100 ">Annuler</a>
                        </div>
                        <div class="col">
                          <a href="/enregistrement" class="btn btn-secondary btn-block w-100">S'enregistrer</a>
                        </div>
                    </div>
			    </div>
		    </div>
	    </div>
    </div>
	<footer class="bg-dark text-white py-3 fixed-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h5>À propos de nous</h5>
              <p>Voici notre projet de fin d'année.</p>
            </div>
            <div class="col-md-6">
              <h5>Contactez-nous</h5>
              <a href="https://discord.gg/MHvfwQb8g9" class="unstyled">notre discord</a>
            </div>
          </div>
        </div>
      </footer>
	<!-- Inclure le fichier JavaScript de Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNVQ8bc" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
